@model JRMarketing.Gui.Models.Usuarios
@using Microsoft.AspNetCore.Http; 
@{
    ViewData["Title"] = "Mis Datos";
    var userType = Context.Session.GetString("tipo");
    if(userType == "Admin")
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    else
        Layout = "~/Views/Shared/LayoutUser.cshtml";
}

    <link href="~/css/Sesion/style.css" rel="stylesheet" />

<div class="container-xl table-wrapper" style="margin-left: 40px;">
    <hr />
    <h2 class="text-center">Mis Datos <a asp-controller="Home" asp-action="IndexCliente" class="btn btn-sm btn-secondary text-center">Regresar</a></h2>
    <form style="margin-top: 25px;" asp-action="UserAccount">
        <div class="form-group form-row">
            <div class="col-md-4 mt-md-2">
                <label for="Name" class="control-label col-md-8">Nombre de Usuario:</label>
                <div class="col-md-12">
                    <input class="form-control" name="NombreUsuario" value="@Model.NombreUsuario" />
                </div>
            </div>
            <div class="col-md-4 mt-md-2">
                <label for="StartLocation" class="control-label col-md-2">Contraseña:</label>
                <div class="col-md-12">
                    <input type="password" class="form-control" name="Contrasenia" value="@Model.Contrasenia" />
                </div>
            </div>
            <div class="col-md-4 mt-md-2">
                <label for="EndLocation" class="control-label col-md-2">Nombre:</label>
                <div class="col-md-12">
                    <input class="form-control" name="Nombre" value="@Model.Nombre" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="Name" class="control-label col-md-2">Apellidos:</label>
                <div class="col-md-12">
                    <input class="form-control" name="Apellidos" value="@Model.Apellidos" />
                </div>

            </div>
            <div class="col-md-4 mt-md-3">
                <label for="StartLocation" class="control-label col-md-2">Direccion:</label>
                <div class="col-md-12">
                    <input class="form-control" name="Direccion" value="@Model.Direccion" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="EndLocation" class="control-label col-md-2">Colonia:</label>
                <div class="col-md-12">
                    <input class="form-control" name="Colonia" value="@Model.Colonia" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="Name" class="control-label col-md-2">Estado:</label>
                <div class="col-md-12">
                    <select class="form-control" name="Estado" required>
                        <option value="@Model.Estado" selected>@Model.Estado</option>
                        <option value="Aguascalientes">Aguascalientes</option>
                        <option value="Baja California">Baja California</option>
                        <option value="Baja California Sur">Baja California Sur</option>
                        <option value="Campeche">Campeche</option>
                        <option value="Chiapas">Chiapas</option>
                        <option value="Chihuahua">Chihuahua</option>
                        <option value="CDMX">Ciudad de México</option>
                        <option value="Coahuila">Coahuila</option>
                        <option value="Colima">Colima</option>
                        <option value="Durango">Durango</option>
                        <option value="Estado de México">Estado de México</option>
                        <option value="Guanajuato">Guanajuato</option>
                        <option value="Guerrero">Guerrero</option>
                        <option value="Hidalgo">Hidalgo</option>
                        <option value="Jalisco">Jalisco</option>
                        <option value="Michoacán">Michoacán</option>
                        <option value="Morelos">Morelos</option>
                        <option value="Nayarit">Nayarit</option>
                        <option value="Nuevo León">Nuevo León</option>
                        <option value="Oaxaca">Oaxaca</option>
                        <option value="Puebla">Puebla</option>
                        <option value="Querétaro">Querétaro</option>
                        <option value="Quintana Roo">Quintana Roo</option>
                        <option value="San Luis Potosí">San Luis Potosí</option>
                        <option value="Sinaloa">Sinaloa</option>
                        <option value="Sonora">Sonora</option>
                        <option value="Tabasco">Tabasco</option>
                        <option value="Tamaulipas">Tamaulipas</option>
                        <option value="Tlaxcala">Tlaxcala</option>
                        <option value="Veracruz">Veracruz</option>
                        <option value="Yucatán">Yucatán</option>
                        <option value="Zacatecas">Zacatecas</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="StartLocation" class="control-label col-md-2">Ciudad:</label>
                <div class="col-md-12">
                    <input class="form-control" name="Ciudad" value="@Model.Ciudad" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="EndLocation" class="control-label col-md-10">Código Postal:</label>
                <div class="col-md-12">
                    <input class="form-control" name="CoidgoPostal" value="@Model.CoidgoPostal" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="EndLocation" class="control-label col-md-10">Fecha de Nacimiento:</label>
                <div class="col-md-12">
                    <input type="datetime" class="form-control" name="FechaNacimiento" value="@Model.FechaNacimiento" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="StartLocation" class="control-label col-md-2">Correo:</label>
                <div class="col-md-12">
                    <input class="form-control" name="Correo" value="@Model.Correo" />
                </div>
            </div>
            <div class="col-md-4 mt-md-3">
                <label for="StartLocation" class="control-label col-md-2">Teléfono:</label>
                <div class="col-md-12">
                    <input class="form-control" name="Telefono" value="@Model.Telefono" />
                </div>
            </div>
            @if (userType == "Admin")
            {
                <input type="hidden" class="form-control" value="Admin" name="Tipo" />
            }
            else
            {
                <input type="hidden" class="form-control" value="Cliente" name="Tipo" />
            }

        </div>
        <div class="form-group">
            <input type="submit" value="Guardar Datos" class="btn btn-primary btn-lg btn-block mt-md-3 button-size" style="margin:10px" />
        </div>
    </form>
</div>       