@model JRMarketing.Gui.Models.Publicaciones
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
    string tipo = Context.Session.GetString("tipo");
    if (tipo == "Admin")
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    else
        Layout = "~/Views/Shared/LayoutUser.cshtml";
}

@if (tipo == "Cliente")
{
    <div class="container-xl table-wrapper" style="margin-left: 35px;">
        <hr />
        <link href="~/css/estilos.css" rel="stylesheet" />
        <h2 class="text-center">Mi Anuncio <a asp-controller="Home" asp-action="IndexCliente" class="btn btn-sm btn-secondary text-center">Regresar</a></h2>

        <form style="margin-top: 25px;" asp-action="Update" enctype="multipart/form-data">
            <div class="form-group">
                <img id="publicacion" src="~/myimages/@Model.Foto" />
                <label for="exampleFormControlFile1">Cambiar Imagen</label>
                <input type="file" class="form-control-file" asp-for="file" id="exampleFormControlFile1">
            </div>
            <div class="form-group form-row">
                <input type="hidden" class="form-control" name="Id" value="@Model.Id" />
                <div class="col-md-4 mt-md-2" style="min-width: 800px;">
                    <label for="Name" class="control-label col-md-8" style="min-width: 800px;">Descripcion:</label>
                    <div class="col-md-12">
                        <input class="form-control" name="DescripcionP" value="@Model.DescripcionP" />
                    </div>
                </div>
                <input type="hidden" class="form-control" name="IdRestaurantePubli" value="@Model.IdRestaurantePubli" />
                <input type="hidden" class="form-control" asp-for="Foto" value="@Model.Foto" />

            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Datos" class="btn btn-primary btn-lg btn-block mt-md-3" style="margin:10px" />
            </div>
            <div class="form-group">
                <a asp-controller="Publicacion" asp-route-Id="@Model.Id" asp-action="Delete" class="btn btn-primary btn-lg btn-block" style="margin:10px">Eliminar</a>
            </div>
        </form>
    </div>
}
else
{
    <div class="container-xl table-wrapper" style="margin-left: 35px;">
        <hr />
        <link href="~/css/estilos.css" rel="stylesheet" />
        <h2 class="text-center">Mi Anuncio <a asp-controller="Publicacion" asp-action="IndexAdmin" class="btn btn-sm btn-secondary text-center">Regresar</a></h2>

        <form style="margin-top: 25px;" asp-action="Update" enctype="multipart/form-data">
            <div class="form-group">
                <img id="publicacion" src="~/myimages/@Model.Foto" />              
            </div>
            <div>
                <label>Descripcion:</label>
                <p style="text-align: justify">@Model.DescripcionP</p>
                <p style="margin-top: 15px;">ID de Restaurante</p>
                <p>@Model.IdRestaurantePubli</p>
            </div>        
            <div class="form-group">
                <a asp-controller="Publicacion" asp-route-Id="@Model.Id" asp-action="Delete" class="btn btn-primary btn-lg btn-block" style="margin:10px">Eliminar</a>
            </div>
        </form>
    </div>
}
