@model IEnumerable<JRMarketing.Gui.Models.Restaurantes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<h1>Lista de Restaurantes</h1>

<div class="form-group">
    <a asp-controller="Usuario" asp-action="Create" class="btn btn-success btn-lg btn-block">Agregar Restaurante</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreRestaurante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiudadR)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreRestaurante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CiudadR)
                </td>
                <td>
                    <a asp-controller="Usuario" asp-route-Id="@item.Id" asp-action="Details" class="view" title="Ver" data-toggle="tooltip"><i class="material-icons">Detalles</i></a>
                    <a asp-controller="Usuario" asp-route-Id="@item.Id" asp-action="Update" class="edit" title="Editar" data-toggle="tooltip"><i class="material-icons">Editar</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
