@model JRMarketing.Gui.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="~/css/Sesion/estilos.css" rel="stylesheet" />


</head>
<body style="background-image: url('~/images/comida.jpg')");>
    @using (Html.BeginForm())
    {
            <h1>Iniciar Sesión</h1>
            <div class="contenedor">
                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                <div class="input-contenedor">
                    <i class="fas fa-user icon"></i>
                    @Html.EditorFor(model => model.NombreUsuario)
                    @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
                </div>

                <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                    @Html.EditorFor(model => model.Contrasenia, new { htmlAttributes = new { @type = "password" } })
                    @Html.ValidationMessageFor(model => model.Contrasenia, "", new { @class = "text-danger" })
                </div>
                <input type="submit" value="Ingresar" class="button">

                <p>¿No tienes una cuenta? <a class="link" href="~/Views/Home/RegistroUsuario">Registrate </a></p>
            </div>
            }

    </body>
</html>